<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>203176417957-1kri6qh2edloe0ffvt1mfb8tv0vjhnsr.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.203176417957-1kri6qh2edloe0ffvt1mfb8tv0vjhnsr</string>
	<key>API_KEY</key>
	<string>AIzaSyAWCRMufFtzingnw9XX67BQM_OB9v09Wq0</string>
	<key>GCM_SENDER_ID</key>
	<string>203176417957</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.iconic.socialv</string>
	<key>PROJECT_ID</key>
	<string>socialv-flutter</string>
	<key>STORAGE_BUCKET</key>
	<string>socialv-flutter.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:203176417957:ios:20f853fd078dd42d49cb4c</string>
</dict>
</plist>